<!DOCTYPE html>
<html>
	<head>
		<title>My Wishlist</title>

		<!-- STYLESHEET -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="lib/sweetalert/dist/sweetalert.css">
		<link rel="stylesheet" href="css/style.css">

		<!-- JAVASCRIPT -->
		<script src="js/jquery.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="lib/sweetalert/dist/sweetalert.min.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-animate.min.js"></script>

		<!-- APPS -->
		<script src="app/app.js"></script>
		<script src="app/wish.controller.js"></script>
		<script src="app/wish.service.js"></script>
	</head>

	<body ng-app="aga.wishlist" ng-controller="WishController">
		<div class="container">
			<h1 class="pull-left">My Wishlist</h1>
			<p class="pull-right about">By Gattigaga Hayyuta Dewa</p>
			<div style="clear: both;"></div>
			<br><br>
			<div class="row">
				<div class="col-sm-3">
					<button class="btn btn-primary" ng-click="openModal()">
						<i class="glyphicon glyphicon-plus"></i>  New Wish
					</button>
				</div>
				<div class="col-sm-3 pull-right">
					<input type="search" class="form-control" ng-model="search.wish">
				</div>
			</div>
			<br>
			<p class="text-center"><b>Total Wish : {{ total.length }}</b></p>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th width="48px"><i class="glyphicon glyphicon-th-list"></i></th>
						<th>Wish Item</th>
						<th width="110px">Menu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(index, wish) in wishes | filter : search as total" class="animate-data">
						<td>{{ index + 1 }}</td>
						<td>
							<span ng-show="!wish.edit">{{ wish.wish }}</span>
							<input type="text" ng-model="wishes[index].wish" class="form-control" ng-show="wish.edit">
						</td>
						<td>
							<button class="btn btn-warning" ng-click="edit(wish)">
								<i class="glyphicon glyphicon-pencil"></i>
							</button>
							<button class="btn btn-danger" ng-click="delete(wish.id)">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</td>
					</tr>
					<tr ng-show="total == 0">
						<td colspan="3">
							<p class="text-center">
								<b>No wishes were found !</b>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>

		<div id="new-wish" class="modal fade">
		   <div class="modal-dialog">
		     <div class="modal-content">
		       <div class="modal-header">
		         <button type="button" class="close" data-dismiss="modal"
		        aria-hidden="true">&times;</button>
		         <h3 class="modal-title">New Wish</h3>
		       </div>
		       <form name="form">
		       <div class="modal-body">
		       		<div class="form-group">
		       			<label>Your Wish</label>
		       			<input type="text" ng-model="newWish" name="newWish" class="form-control" required>
		       		</div>
		       </div>
		       <div class="modal-footer">
		          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp;Close</button>
		          <button type="button" class="btn btn-success" ng-disabled="form.$invalid" ng-click="add()"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Apply</button>
		       </div>
		       </form>
		     </div>
		   </div>
 		</div>
	</body>
</html>